asgiref==3.9.1
cachetools==6.1.0
certifi==2025.7.14
charset-normalizer==3.4.2
confuse==2.0.1
Django==5.2.4
idna==3.10
python-amazon-sp-api==1.9.46
PyYAML==6.0.2
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
